html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0D0C14;
}

button {
  font-family: inherit;
}

input {
  font-family: inherit;
}
